(
    name: "Violet Tide",
    foreground: "#D6D2DC",
    background: "#1B1A24",
    cursor: "#ECE8F2",
    bright_foreground: "#ECE8F2",
    dim_foreground: "#7D7890",
    normal: (
        black: "#1B1A24",
        red: "#D4606E",
        green: "#9DB87A",
        yellow: "#D9C27E",
        blue: "#8AA4DC",
        magenta: "#C79BE0",
        cyan: "#7FB4C6",
        white: "#D6D2DC",
    ),
    bright: (
        black: "#625C78",
        red: "#E88592",
        green: "#B9D19A",
        yellow: "#EAD9A0",
        blue: "#AEBFF0",
        magenta: "#E8A6F5",
        cyan: "#A3CFDC",
        white: "#ECE8F2",
    ),
    dim: (
        black: "#15141C",
        red: "#9A4A55",
        green: "#74875C",
        yellow: "#9E8E5F",
        blue: "#6679A2",
        magenta: "#9273A5",
        cyan: "#5E8492",
        white: "#9C99A2",
    ),
)
